/* .custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.monaco-icon-label:before {
	display: none !important;
	color: #ffffff3e !important;
} */

.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label a.label-name {
	display: flex !important;
	justify-content: center !important;
}

/* .monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label.codicon {
	font-size: 16px;
	color: #ffffff3e !important;
} */

/* .monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-ipfs-activitybar-5bc16114732d40f62827b3c89172c0b8aa9dcc9b {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/dataseek.ipfs-vscode-extension-0.0.2/assets/ipfs.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-cweijan-nosql-195d798f3408e0bef12dbaab61fb20ee9584f4ae {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/cweijan.vscode-ssh-6.7.0/resources/icon/layer-group.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-cweijan-mysql-96e3ed78ee341aa0671ecc5932f18db6c7b9887c {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/cweijan.vscode-ssh-6.7.0/resources/icon/database.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-taskActivity-41b3bc1517b7049f0cbf7267df3962607fbe77fd {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/spmeesseman.vscode-taskexplorer-2.13.2/res/gears-r.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-dockerView-927bc3291a4741b59d1f2673c6547561ad7aa705 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/ms-azuretools.vscode-docker-1.26.0/resources/docker.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-actions-781a0a9b785179e82c16590b2f4f06caefbd0df6 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/github.vscode-github-actions-0.25.8/resources/icons/light/explorer.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-codeium-79c3df1df38765919cd4043f05c3f809ca3a8e9e {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/codeium.codeium-1.3.66/assets/codeium.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-leetcode-065e7016e4609b986b5d92ed092c56344fa86056 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/leetcode.vscode-leetcode-0.18.1/resources/LeetCode.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-mongoDB-26c1b26f196fea94abc248d5d817e7d9b557c93b {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/mongodb.mongodb-vscode-1.2.0/images/sidebar-leaf.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-package-explorer-7d969da1fcbe4930821d46097227b11075297ccd {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/donjayamanne.python-environment-manager-1.0.4/resources/logo.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-vscode-vercel-sidebar-990d57a87ce5f8772de29d09d2856fa1de314c0c {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/frenco.vscode-vercel-1.0.3/resources/icons/dark/vercel.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-mintdocs-6262b417769097bf49394b205c4d681c5f3433fb {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/mintlify.document-2.2.1/assets/outline.png") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-makefile__viewContainer-3cacbd9c97652270d232bc238b8c160cedbc2e3f {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/ms-vscode.makefile-tools-0.7.0/res/viewcontainer.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-sshfs-fa85651c6156f35c94c18e57b19d45bc14651e35 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/kelvin.vscode-sshfs-1.26.1/resources/icon.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-meson-sidebar-8d5bc746ae5cbd40a228a445620dced1a4c133fc {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/mesonbuild.mesonbuild-1.9.0/res/meson_32.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-cweijan-mysql-dbbefcdcb8a9c033f54f815f4ef0249dccae4241 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/cweijan.vscode-ssh-6.6.0/resources/icon/database.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-cweijan-nosql-9aa59f5f83a256e4d7792a29918f3d21d991b641 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/cweijan.vscode-ssh-6.6.0/resources/icon/layer-group.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-trunkContainer-ba5467f142440e53cd4b707d97535b97ad8d5acb {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/trunk.io-3.4.4/assets/sidebar-icon.svg") 50% 50% / 17px no-repeat;
} */