.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label.codicon {
	font-size: 16px;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-taskActivity-41b3bc1517b7049f0cbf7267df3962607fbe77fd {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/spmeesseman.vscode-taskexplorer-2.13.2/res/gears-r.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-dockerView-b96998e26732b3a5bbe1ec7d9421fb68fb07f8cc {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/ms-azuretools.vscode-docker-1.25.1/resources/docker.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-github-actions-781a0a9b785179e82c16590b2f4f06caefbd0df6 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/github.vscode-github-actions-0.25.8/resources/icons/light/explorer.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-codeium-7f154cb4f17e1cc091d72380f6154d17deddf7ed {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/codeium.codeium-1.2.40/assets/codeium.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-leetcode-065e7016e4609b986b5d92ed092c56344fa86056 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/leetcode.vscode-leetcode-0.18.1/resources/LeetCode.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-mongoDB-32417e8d8e9c7e795ac74893aa1a7009221185a2 {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/mongodb.mongodb-vscode-1.0.2/images/sidebar-leaf.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-package-explorer-7d969da1fcbe4930821d46097227b11075297ccd {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/donjayamanne.python-environment-manager-1.0.4/resources/logo.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-vscode-vercel-sidebar-990d57a87ce5f8772de29d09d2856fa1de314c0c {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/frenco.vscode-vercel-1.0.3/resources/icons/dark/vercel.svg") 50% 50% / 17px no-repeat;
}

.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-mintdocs-6262b417769097bf49394b205c4d681c5f3433fb {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/mintlify.document-2.2.1/assets/outline.png") 50% 50% / 17px no-repeat;
}
.monaco-workbench div.activitybar>div.content :not(.monaco-menu)>div.monaco-action-bar a.action-label:not(.codicon).activity-workbench-view-extension-makefile__viewContainer-3cacbd9c97652270d232bc238b8c160cedbc2e3f {
	-webkit-mask: url("vscode-file://vscode-app/Applications/code-portable-data/extensions/ms-vscode.makefile-tools-0.7.0/res/viewcontainer.svg") 50% 50% / 17px no-repeat;
}