.vscode
brewfile.lock.json
.env
.DS_Store
Icon
*.log
.gitsecret
*/**/watch_later/*
tools/fast-syntax-highlighting
tools/powerlevel10k
tools/pure
tools/zsh-autosuggestions
tools/zsh-completions
tools/zsh-history-substring-search