!.vscode/settings.json
brewfile.lock.json
.env
.DS_Store
Icon
*.log
/config/git/secret
/config/sketchybar/helpers/secret.lua
*/**/watch_later/*
*/**/shaders/cache
*/**/shaders/cfl/CfL_Prediction_Test.glsl
*.netrwhist
zz-extras
