[submodule "plugins/dotbot"]
	path = plugins/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot"]
	ignore = dirty
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/danydodson/nvim
