# os
.DS_Store
Icon

# logs
*.log
*.netrwhist

# env
.env

# git
/config/git/secret

# karabiner
/karabiner/assets
/karabiner/automatic_backups

# thelounge
/config/thelounge/certificates
/config/thelounge/logs
/config/thelounge/packages
/config/thelounge/users
/config/thelounge/web
/config/thelounge/vapid.json
/config/thelounge/sts-policies.json

# tmux
/config/tmux/plugins

# vim
/config/vim/autoload
/config/vim/plugins
/config/vim/undodir
/config/vim/viminfo
/config/vim/tmux.vim

# weechat
/config/weechat/*

# wget
/config/wget/wget-hsts

# macos
/macos/brewfile.lock.json

# build
.assets