
# enable external sources
external-sources=true # allows shellcheck to include the files pointed-to by the source or .

# sourced paths
source-path=SCRIPTDIR # look for 'source'd files relative to the checked script
source-path=/tools # look for absolute paths in /tools

# enable
enable=check-set-e-suppressed # notify when set -e is suppressed during function invocation
# enable=quote-safe-variables # suggest "$var" in place of $var
# enable=require-variable-braces # suggest ${VAR} in place of $VAR

# disable
disable=SC1090 # disable 'can't follow non-constant source. Use a directive to specify location' errors
disable=SC1091 # disable 'not following' errors
disable=SC2005 # disable useless echo warning
disable=SC2034 # appears unused. Verify use (or export if used externally)
disable=SC2162 # disable read without -r will mangle backslashes
disable=SC2164 # disable use || return in case cd fails
disable=SC2086 # ignore double quote to prevent globbing and word splitting
disable=SC2236 # allow [ ! -z foo ] instead of suggesting -n
disable=SC2248 # ignore double quoting even when variables don't contain special characters
disable=SC2250 # prefer putting braces around variable references even when not strictly required
