/* activity bar width */
/* #workbench.parts.activitybar,
.monaco-workbench .part.activitybar.left {
  width: 30px !important;
} */

/* move sidebar left to adjust for activity bar width */
/* body>div.file-icons-enabled.enable-motion.monaco-workbench.mac.chromium.nopanel.noauxiliarybar.macos-bigsur-or-newer.maximized.vs-dark.zhuangtongfa-material-theme-themes-OneDark-Pro-darker-json>div.monaco-grid-view>div>div>div.monaco-scrollable-element.mac>div.split-view-container>div:nth-child(3)>div>div>div.monaco-scrollable-element.mac>div.split-view-container>div:nth-child(2) {
  left: 30px !important;
} */

/* activity bar codicon icons */
.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label.codicon {
  font-size: 12px !important;
  /* right: 9px !important */
}

/* activity bar codicon icons */
.monaco-workbench .activitybar .monaco-action-bar .action-label.activity-workbench-view-extension-containersView-f6027957af7665ee111faf96f557e1efe6815edc {
  mask: url(file:///Users/stache/.dotfiles/config/codium/vscss/icons/ContainerTools.svg) 25% 25% / 24px no-repeat padding border-box !important;
}

/* line numbers */
.monaco-editor .margin-view-overlays .line-numbers {
  font-size: 0.7rem !important;
}

.relative-current-line-number {
  text-align: unset !important;
}

div.sc-eBMEME.iovIio {
  color: #787c99 !important;
}

/* .editor .title .actions-container .action-item a {
  visibility: hidden;
} */

/* .editor .title .actions-container {
  flex-direction: row-reverse;
} */

/* .monaco-workbench .part>.header-or-footer,
.monaco-workbench .part>.title {
  height: 28px !important;
  padding-left: 0px !important;
} */

/* .monaco-workbench .part>.title>.title-label {
  line-height: 30px !important;
} */

/* Code canvas top shadow */
/* .monaco-editor .scroll-decoration {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
  top: -6px !important;
}

.monaco-workbench .part.titlebar>.titlebar-container {
  background-color: #2b2e3c !important;
} */

/* Project title's style at the top. */
/* .monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
} */


/* File Explorer Selected Item */
/* .monaco-list.list_id_1 .monaco-list-row.selected {
  background-color: #4f5971 !important;
  opacity: 1 !important;
  border-top: 1px #727b90 solid;
  border-bottom: 1px #727b90 solid;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  display: none !important;
}


.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
  padding: 10px !important;
  background-color: #2b2e3c !important;
  backdrop-filter: blur(3px) !important;
  background-color: #2b2e3c !important;
  margin: 6px !important;
  border-radius: 6px !important;
  border: 1px solid #63697355 !important;
} */

/* Project Title */
/* .titlebar-left {
  justify-content: flex-start !important;
  flex-grow: 0 !important;
  width: auto !important;
}

.monaco-split-view2.horizontal>.monaco-scrollable-element>.split-view-container>.split-view-view {
  background-color: rgb(49, 52, 69) !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
  width: 200px !important;
} */