<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>osx.env.sync</string>
	<key>Program</key>
	<string>/bin/zsh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-c</string>
		<string>launchctl setenv XDG_CONFIG_HOME &quot;$HOME/Library/Preferences&quot;;launchctl setenv XDG_DATA_HOME &quot;$HOME/Library/Application Support&quot;;launchctl setenv XDG_CACHE_HOME &quot;$HOME/Library/Caches&quot;;</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
