<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>danydodson.dotfiles.cleaner</string>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/Users/Dany/Documents/Developer/.dotfiles/scripts/daily/clear.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/dotfiles-clear.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/dotfiles-clear.stderr</string>
    <key>WatchPaths</key>
    <array>
      <string>/Users/Dany/Downloads</string>
    </array>
    <key>AbandonProcessGroup</key>
    <true/>
  </dict>
</plist>