<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dotfiles refresh script</string>
    <key>UserName</key>
    <string>Dany</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/Users/Dany/Documents/Developer/.dotfiles/scripts/daily/refresh.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/dotfiles-refresh.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/dotfiles-refresh.stderr</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>01</integer>
      <key>Minute</key>
      <integer>01</integer>
    </dict>
    <key>AbandonProcessGroup</key>
    <true/>
  </dict>
</plist>