# yazi theme.toml

[flavor]
dark = "onedark"

# [manager]
# tmTheme files can be found here: https://github.com/scottmckendry/cyberdream.nvim/tree/main/extras/textmate
# syntect_theme = "flavors/cyberdream.tmTheme"

[mgr]
cwd = { fg = "#a9b1d6", italic = true }

find_keyword = { fg = "#1f2335", bg = "#ff9e64", bold = true }
find_position = { fg = "#0db9d7", bg = "#22374b", bold = true }

marker_copied = { fg = "#73daca", bg = "#73daca" }
marker_cut = { fg = "#f7768e", bg = "#f7768e" }
marker_marked = { fg = "#bb9af7", bg = "#bb9af7" }
marker_selected = { fg = "#7aa2f7", bg = "#7aa2f7" }

tab_width = 1
tab_active = { fg = "#c0caf5", bg = "#292e42" }
tab_inactive = { fg = "#3b4261", bg = "#24283b" }

count_copied = { fg = "#c0caf5", bg = "#41a6b5" }
count_cut = { fg = "#c0caf5", bg = "#db4b4b" }
count_selected = { fg = "#c0caf5", bg = "#3d59a1" }

border_symbol = "│"
border_style = { fg = "#535c6c" }

[status]
separator_open = ""
separator_close = ""
separator_style = { fg = "#3b4261", bg = "#3b4261" }

mode_normal = { fg = "#1f2335", bg = "#7aa2f7", bold = true }
mode_select = { fg = "#1f2335", bg = "#bb9af7", bold = true }
mode_unset = { fg = "#1f2335", bg = "#9d7cd8", bold = true }

progress_label = { fg = "#a9b1d6", bold = true }
progress_normal = { fg = "#24283b" }
progress_error = { fg = "#f7768e" }

permissions_t = { fg = "#7aa2f7" }
permissions_r = { fg = "#e0af68" }
permissions_w = { fg = "#f7768e" }
permissions_x = { fg = "#9ece6a" }
permissions_s = { fg = "#414868" }

[select]
border = { fg = "#29a4bd" }
active = { fg = "#c0caf5", bg = "#2e3c64" }
inactive = { fg = "#c0caf5" }

[spot]
border = { fg = "#4fa6ed" }
title = { fg = "#4fa6ed" }
tbl_cell = { fg = "#4fa6ed", reversed = true }
tbl_col = { fg = "#4fa6ed" }

[input]
border = { fg = "#0db9d7" }
title = {}
value = { fg = "#9d7cd8" }
selected = { bg = "#2e3c64" }

[completion]
border = { fg = "#0db9d7" }
active = { fg = "#c0caf5", bg = "#2e3c64" }
inactive = { fg = "#c0caf5" }

[tasks]
border = { fg = "#29a4bd" }
title = {}
hovered = { fg = "#c0caf5", bg = "#2e3c64" }

[which]
cols = 3
mask = { bg = "#1f2335" }
cand = { fg = "#7dcfff" }
rest = { fg = "#7aa2f7" }
desc = { fg = "#bb9af7" }
separator = "  "
separator_style = { fg = "#565f89" }

[notify]
title_info = { fg = "#0db9d7" }
title_warn = { fg = "#e0af68" }
title_error = { fg = "#f7768e" }

[help]
on = { fg = "#9ece6a" }
run = { fg = "#bb9af7" }
hovered = { bg = "#2e3c64" }
footer = { fg = "#c0caf5", bg = "#24283b" }

[filetype]
rules = [
  # Media
  { mime = "image/*", fg = "#e0af68" },
  { mime = "video/*", fg = "#bb9af7" },
  { mime = "audio/*", fg = "#bb9af7" },
  # Torrent
  { mime = "application/bittorrent", fg = "#44cda8" },
  # Archives
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar}", fg = "#f7768e" },
  # Documents
  { mime = "application/{pdf,doc,rtf,vnd.*}", fg = "#7dcfff" },
  # Fallback
  { mime = "inode/empty", fg = "#626262" },
  { name = "*", is = "orphan", bg = "reset" },
  { name = "*", is = "exec", fg = "#9ece6a" },
  { name = "*/", fg = "#7aa2f7" },
]

[icon]
prepend_dirs = [
  { name = "Desktop", text = "", fg = "#7aa2f7" },
  { name = "Documents", text = "",fg = "#7aa2f7" },
  { name = "Downloads", text = "",fg = "#7aa2f7" },
  { name = "Library", text = "",fg = "#7aa2f7" },
  { name = "Music", text = "",fg = "#7aa2f7" },
  { name = "Movies", text = "",fg = "#7aa2f7" },
  { name = "Pictures", text = "",fg = "#7aa2f7" },
  { name = "Public", text = "",fg = "#7aa2f7" },
  { name = ".config", text = "", fg = "#7aa2f7" },
  { name = ".npm", text = "", fg = "#7aa2f7" },
  { name = ".git", text = "", fg = "#7aa2f7" },
  { name = ".github", text = "", fg = "#7aa2f7" },
  { name = "__pycache__", text = "", fg = "#7aa2f7" },
]

append_exts = [
  { name = "mp3", text = "", fg = "#bb9af7" },
  { name = "mp4", text = "󰟞", fg = "#bb9af7" },
  { name = "dmg", text = "", fg = "#f7768e" },
]

prepend_conds = [
  { if = "hidden & dir", text = "", fg = "#7aa2f7" },
  { if = "dir", text = "", fg = "#7aa2f7" },
  { if = "!(dir | link)", text = "" },
  { if = "exec", text = "" },
]
