<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dots.lounge</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/stache/.dotfiles/bin/lounge</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <!-- Optional: delay 5 seconds after login -->
    <key>StartInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/Users/stache/Library/Logs/thelounge.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/stache/Library/Logs/thelounge.error.log</string>
  </dict>
</plist>
